* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr repeat(6, 1fr);
  font-family: "Lexend", Arial, Helvetica, sans-serif;
}

.sidebar {
  grid-row: 1 / 8;
  background-color: rgb(15, 171, 255);
}

.main {
  grid-row: 2 / 8;
}

.icon {
  height: 2em;
  width: 2em;
  filter: invert(100%);
}

.large-icon {
  height: 4.5em;
  width: 4.5em;
  filter: invert(100%);
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  color: white;
  padding: 2em;
}

h2 {
  padding-left: 0.4rem;
}

.tag {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  color: white;
  padding: 0 3em;
  font-weight: bold;
  margin: 0.2rem;
}

.tag:hover {
  background-color: rgb(48, 183, 255);
  margin: 0.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.bottom-list {
  margin-top: 3em;
}

img[src$=".png"]:not(img[src="icons/view-dashboard.png"]) {  /* icons */
  height: 2em;
  width: 2em;
}

img[src$=".jpg"] {  /* profile picture */
  height: 3em;
  width: 3em;
  border-radius: 50px;
}

input {
  background-color: rgb(235, 235, 235);
  border: none;
  height: 2em;
  border-radius: 50px;
  padding-left: 10px;
  width: 40vw;
}

input:focus {
  outline: none;
}

.header-one {
  display: flex;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  padding: 1em 2em;
  gap: 1.5em;
}

.user-info {
  display: flex;
  align-items: center;
  padding-left: 1.5em;
  gap: 1.5em;
  margin: 10px;
}